body,span,p{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
}
*{
    margin:0;
    padding-left: 0;
    box-sizing: border-box;
}
.container-fluid{
    max-width: 1480px;
}

.btn_top{
    position: relative;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 6px ;
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #e83b3e;
    font-size: 14px;
    letter-spacing: 2px;
    transition: .8s;
    overflow: hidden;
    z-index: 1;
    
}
.btn_top:hover{
    color: rgb(255, 255, 255);
    
}
.btn_top span{
    position: absolute;
    display: block;
    height: 0px;
    width: 0px;
    transform: translate(-50%,-50%);
    background: #111;
    transition: width 0.8s, height 0.8s;
    z-index: -1;
}
.btn_top:hover span
{
    width: 400px;
    height: 400px;
}

.r-hed img {
    width: 170px;
}
.our-menu ul{

}
.our-menu li{
    display: inline-block;
    position: relative;
}
.our-menu li a {
    text-decoration: none;
    display: block;
    padding: 20px 20px;
    color: #111;
    font-size: 18px;
    font-weight: 500;
}
.our-menu li a:hover{
    color: #e83b3e;
}
/* dropdow */
.our-menu li ul{
    position: absolute;
    left: 0%;
    top: 120%;
    width: 130px;
    padding-left: 0;
    background: #f8f9fa;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
}
.our-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.header-info {
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 0px;
}
.header-call-icon span{
    color: #e83b3e;

}
.bg{
    background: #e0e0e0;
}
.header-call-icon{
    float: left;
    display: inline-block;
    margin: 15px;
}
.header-call-info{
    float: right;
}
.header-call-info .ppp{
    font-size: 16px;
}
.header-call-info a {
    font-size: 15px;
    text-decoration: none;
    color: #111;
}
.header-search {
    width: 50px;
    font-size: 25px;
    border-right: 1px solid #ddd;
}
.header-button{

    margin:10px ;
}


/* slider */
.slider-section{
    background: url(img/main-banner2.jpg) center top no-repeat ;
    background-size: cover;
    background-attachment: fixed;

}
.flexibles
{
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
}

.social-icon {
    position: absolute;
    bottom: 0;
    left: -35px;
}
.social-icon ul
{  
    list-style: none;
    

}
.social-icon ul li
{
    padding: 0 10px

}
.social-icon ul li a{

    color: #111;
}
.social-icon span {
    font-size: 18px;
    position: relative;
    margin: 0  45px 0 0;
}
.social-icon span::after {
    content: "";
    height: 1px;
    width: 40px;
    background: #111;
    position: absolute;
    right: -44px;
    top: 50%;
}

